body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient( magenta, #660033);
  height: 100vh;
  display: flex;
  align-items: center;
  text-shadow: 5px 10px 10px pink;
  justify-content: center;
  margin: 0;
}

.container {
  background: #E03FD8;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 8px 20px pink;
  text-align: center;
  width: 350px;
  position: relative;
  left: -270px;
}

h1 {
  color: pink;
  position: relative;
  bottom: 200px;
  right: -200px;
  font-size: 70px;
}

input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid pink;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0px 5px 10px pink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 0.3s;
}
input:hover{
  transform: scale(1.2);
}

button {
  padding: 12px 25px;
  position: relative;
  left: 10px;
  top: 10px;
  background: #FF00FF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #FF00FF;
  color: white;
  transform: scale(1.2);
}
